<p>user-dashboard works!</p>

<p> Employee list using Employee interface</p>
<div *ngFor="let e of employeeList">
   <p> {{e.firstName}} {{e.lastName}}</p>
</div>


<p> Employee list using user class</p>
<div *ngFor="let e of usersList">
   <p> {{e.getName()}} </p>
</div>

<hr>

<h3>Employees List</h3>
<a *ngFor="let emp of empsList">
   <div>
       <h5>{{emp.firstName | uppercase | lowercase }} {{' '+ emp.lastName}}</h5>
   </div>
</a>

<h3>Using of Pipes</h3>

<p>{{ 5 | currency:'EUR'}}</p>

<h3>Using of Custom Pipes</h3>

<p>{{ 5 | custom}}</p>

Async Pipes
<p class="card-text">{{observable$ | async }}</p>

Generics

<h3>number List</h3>
<a *ngFor="let num of myNumArr">
   <div>
       <h5>{{num }}</h5>
   </div>
</a>

<h1>Hello</h1>

<ng-template>
  <h2>How are you</h2>
</ng-template>


<div *ngIf="hasData else loading">
Testdata
</div>

<ng-template #loading>
   <div>Loading...</div>
</ng-template>